*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

nav{
    display: flex;
    
}
main h1{
    text-align: left;
    padding-left: 100px;
}
main h5{
    text-align: left;
    padding-left: 150px;
}
main p {
    text-align: justify;
    padding: 0 200px 50px;
}
#carouselExampleIndicators{
    width: 80rem;
    margin-left: auto;
    margin-right: auto;
}
#second{
    margin-top: 50px;
}


.carousel-inner img{
    width: 700px;
    height: 500px;
}
.contact{
    text-align: center;
}
.contact h1{
    text-align: center;
    padding-left: 0;
}
#img-author{
    border-radius: 200px;
    background: url(./img/perfil.png), no-repeat;
    background-size: cover;
    width: 400px;
    height: 400px;
    margin: 50px auto auto auto;
}
.coming{
    width: 1800px;
    height: 900px;
    background: url(./img/coming.jpg);
    background-size: contain;
}